.About-heading{
    color: rgb(24, 31, 61);
    font-weight:bold;
    font-size:5ch;
    text-decoration:  deepskyblue  underline;
    text-underline-offset: 0.4em;

}

.Heading{
    margin-top: 2ch;
    color: rgb(24, 31, 61);
    font-weight:bold;
    font-size:4ch;
}


.bullet-dash-list li{
    margin-bottom: 13px;
    list-style-type:"->   "; /* Bullet style */

  }
  

.Para-Spacing{
    line-height: 3ch;
    letter-spacing: 0.09ch;
}



/* icon animination */


