.Rounded-image{
    height: 190px;
    width: 180px;
    margin-left: 38px;
    margin-top: 65px;
    /* margin: 80px; */
    border-style: solid;
    border-color:rgb(139, 166, 187);
    border-width: 0.5cm;
    border-radius: 50%;
}

.list{
     list-style-type: none;
     padding-top: 20px;
padding-left: 100px;
    color: white;
    line-height: 70px;
    word-spacing: 15px;
    font-size: 20px;
    letter-spacing: 6px;
    

}
.list:hover{
    color: rgb(19, 116, 116);
    
}